/* fonts */
$primary_font_family: 'Palanquin', sans-serif;

/* colors variable*/
$top_border_color: rgb(250, 105, 56);
$bg_white: rgb(255, 255, 255);
$bg_lt_grey: rgb(244, 244, 244);
$box_grey: rgb(211, 211, 211);
$bg_dark_grey: rgb(144, 144, 144);
$button_blue: rgb(51, 161, 255);
$free_shipping_bg: rgb(250, 84, 45);
$free_shipping_bg: rgb(200, 84, 45);

