/*partials*/
/* fonts */
/* colors variable*/
/* orange border */
#orange_border {
  width: 100%;
  height: 38px;
  background-color: #fa6938; }
  #orange_border ul {
    margin: 0;
    padding-left: 100px; }
  #orange_border li {
    margin-left: 20px;
    font-size: 0.9em;
    display: inline-block;
    color: white; }
  #orange_border #free_box {
    width: 110px;
    height: 28px;
    background-color: #c8542d;
    border-radius: 3px;
    text-align: center;
    padding-top: 2px;
    margin-top: 4px; }

nav {
  height: 117px; }
  nav #logo img {
    width: 128px;
    height: 117px; }
  nav #menu {
    font-size: 26px;
    margin: auto; }
    nav #menu li {
      display: inline-block;
      margin: 0 10px; }
  nav #test {
    width: 350px;
    text-align: center; }
    nav #test p {
      display: inline;
      font-size: 11px;
      color: #a2afc0;
      padding: 0 5px; }
      nav #test p #register {
        text-align: right;
        margin: 10px 0;
        height: 20px; }
      nav #test p #layer {
        text-align: center; }
        nav #test p #layer #sign_in {
          text-align: right;
          padding-top: 10px; }
          nav #test p #layer #sign_in #cart {
            border-radius: 2px;
            margin-top: 10px;
            width: 70px;
            height: 30px;
            border: 1px solid black;
            display: inline-block; }
            nav #test p #layer #sign_in #cart #search {
              height: 28px;
              width: 152px; }

footer {
  height: 237px;
  background-image: url("https://raw.githubusercontent.com/TIY-Charlotte-Frontend-Engineering/curriculum/7b2e4f8d208bd5cdaaf1a34130e2d99580883dbe/daily/04-internet/assets/perforated-bottom%402x.png");
  background-repeat: repeat-x;
  background-size: 45px;
  text-align: center;
  margin: 0; }
  footer div {
    display: block; }
  footer ul {
    margin-top: 30px;
    padding: 0;
    display: block;
    display: inline-flex; }
  footer li {
    width: 107px;
    height: 122px;
    display: inline-block;
    margin: 0 10px;
    text-align: left; }
  footer h4 {
    margin: 0;
    font-weight: 900; }
  footer .left_block p {
    color: #909090; }
  footer p {
    display: block;
    font-size: 13px;
    font-weight: 900;
    margin: -4px 0 -4px 0; }
  footer section {
    text-align: left;
    margin: 0 auto;
    width: 82%;
    color: #909090; }
    footer section p {
      display: inline-block;
      margin: 5px; }
  footer #block {
    width: 321px;
    margin-left: 175px;
    border: 1px solid #838e9b;
    border-radius: 2px;
    background-color: #a2afc0; }
    footer #block h3 {
      font-size: 26px;
      font-style: italics;
      font-weight: 100;
      color: white;
      margin: 0;
      padding-left: 15px; }
    footer #block h5 {
      display: inline-block;
      margin: 0;
      line-height: 1.3em;
      padding-left: 15px;
      font-size: 18px;
      color: white; }
    footer #block button {
      width: 104px;
      height: 38px;
      background-color: #33a1ff;
      border: 1px solid #909090;
      border-radius: 3px;
      margin: 15px;
      color: white;
      font-weight: 100; }

/* shared properties */
body {
  margin: 0;
  font-family: 'Palanquin', sans-serif;
  font-weight: 100; }

nav, #white, #hatch, #list {
  width: 100%;
  background-color: white; }

#grey, footer {
  width: 100%;
  background-color: #f4f4f4; }

.container {
  width: 82%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }

a {
  text-decoration: none; }

/*# sourceMappingURL=skinnyTies.css.map */
